@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/06/07/08/12/trophy-3459584_1280.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: $fbBlue;
  height: 6rem;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.main-img {
  opacity: 0%;
  z-index: -1;
  width: 100vw;
  height: calc(100vh - 6rem);
  object-fit: cover;
  border: 0 5px 0 white;
}
.about-par {
  display: flex;
  justify-content: center;
  background-color: #001222db;
  color: white;
  font-size: larger;
  position: absolute;
  top: 18rem;
  width: 50%;
  padding: 15px 20px 10px;
  border-radius: 12px;
  text-align: justify;
}
