@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 123, 142);
}

.header {
  background-color: $fbBlue;
  height: 6rem;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.main-img {
  opacity: 80%;
  z-index: -1;
}
